<ion-header>
  <ion-navbar class="nav-principal" no-padding>
    <ion-grid class="nav-content" no-padding>
      <ion-row no-padding>
        <ion-col col-2>
          <button ion-button clear no-margin>
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9>
          <div class="search-one">
            <ion-item>
            <ion-icon name="search" item-start></ion-icon>
            <p>Buscar</p>
            </ion-item>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<!--search-one-->