<ion-content>
  <span>Solicitudes de amistad</span>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-6>
        <span>Virginia spencer</span>
        <span>Representante</span>
      </ion-col>
      <ion-col col-4>
        <button ion-button>Aceptar</button>
        <button ion-button>Rechazar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <span>Ver solicitudes</span>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-10>
        <span>Virginia spencer</span>
        <span>Representante</span>
        <span>Te empezo a seguir</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
