/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app/Http/Resources/UserFutbolTypeCollection.php
app/Http/Resources/UserFutbolType.php
routes/parametroslucy.php
database/migrations/2018_09_24_191159_create_friendships_table.php
database/migrations/2018_09_24_191200_create_friendships_groups_table.php
